[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "amapGeocode"]
	path = amapGeocode
	url = https://github.com/womeimingzi11/amapgeocode
